<h1><%= @task.title %><input type=“checkbox” disabled <%= 'checked' unless @task.completed %> /></h1>
<p><%= @task.details %></p>
<%= link_to "my tasks", tasks_path %>
<%= link_to "Delete", task_path(@task), method: :delete %>
